@import "variables"

.main_container
    position: relative

@media screen and (max-width: 500px)
    .users
        margin-right: -220px

.users
    width: 220px
    border-left: 1px solid #dedede

.info
    flex-shrink: 0
    align-items: center

    min-height: $descriptionHeight
    border-bottom: 1px solid #dedede
    z-index: 200

    .info-item
        margin-left: 1em

    .name
        font-weight: 600
        font-size: 1.3em

    .description
        color: #717274

// When the display becomes small we show
// this channel toggle button.
.toggle-channel-list
    img
        cursor: pointer
        height: 20px
        width: 20px
        opacity: 0.2
        &:hover
            opacity: 0.5

@media screen and (max-width: 500px)
    .toggle-channel-list
        display: block !important

.view
    .message-view
        overflow-x: hidden
        overflow-y: auto

// FIXME: the text area is not exactly at the center
.message-send-wrapper
    box-sizing: border-box
    border-top: 1px solid #dedede

    .message-send
        margin: 1em 1em 1.5em 1em
        .widget
            border: 2px solid #dedede
            border-radius: 5px
            display: flex
            box-sizing: border-box
            padding: 0.5em 0.5em

            textarea
                font-family: 'Raleway', sans-serif
                max-height: 100px
                width: 100%
                border: 0
                padding: 0
                resize: none
                outline: none
                overflow-y: hidden

            .emojis
                width: 40px
                min-height: 40px
                border-left: 2px solid #dedede
                margin: -0.5em 0
