@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800')
@import "variables"
@import "structure"
@import "main_container"
@import "login"
@import "side_bar"

html
    // REM units are relative to the font size
    // of html
    margin: 0
    font-family: 'Open Sans', sans-serif
    //font-size: 16px

#app-mount
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    text-rendering: optimizeLegibility

.app_container
    display: flex
    height: 100%

// TODO: need to fix this bit
.message.message--sub
    padding-left: 55px

.message
    //border-bottom: 1px solid #eeeeee
    display: flex
    padding: 0.4em 1em
    font-size: 0.95rem

    .message__author-avatar
        width: 40px
        min-width: 40px
        img
            max-width: 36px
            max-height: 36px

            // Remove the following when I finally
            // implement profile images
            //opacity: 0.2
            border-radius: 50%

    .message__body
        flex: 1
        padding-left: 0.5em
        .message__meta
            .message__author
                font-weight: 600
            .message__local-time
                font-size: 0.8rem
                color: #9a9e9a

        .message__content
            word-break: break-all

    &:hover
        background: #f5f5f5
