.column
    position: relative
    flex: auto
    &.column-three
        width: 18.75%
    &.column-four
        width: 25%
    &.column-twelve
        width: 75%
    &.column-thirteen
        width: 81.25%

.container
    padding: 1em

.layer
    position: absolute
    width: 100%
