@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600')
@import "variables"

body
    margin: 0
    font-family: 'Raleway', sans-serif
    font-size: 0.9em

.column
    position: relative
    flex: auto
    &.column-three
        width: 18.75%
    &.column-four
        width: 25%
    &.column-twelve
        width: 75%
    &.column-thirteen
        width: 81.25%

.flex-container
    display: flex
    height: 100%

.container
    padding: 1em

.layer
    position: absolute
    width: 100%

.title-bar
    height: $titleBarHeight
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
    line-height: $titleBarHeight
    padding-left: 4em
    .title
        font-size: 1.7em
        font-weight: 600

    .subtitle
        font-size: 1em
        font-weight: 300

#app-mount
    position: absolute
    top: $titleBarHeight
    right: 0
    bottom: 0
    left: 0
    text-rendering: optimizeLegibility

.sidebar
    border-right: 1px solid #dedede

.view
    overflow-x: hidden
    overflow-y: auto
    top: 0
    bottom: $sendHeight
    right: 0

.send
    height: $sendHeight
    bottom: 0
    right: 0

    border-top: 1px solid #dedede
    background: #f5f5f5
    input
        width: 100%

.message
    border-bottom: 1px solid #eeeeee
    padding-top: 0.4em
    padding-bottom: 0.4em
