<!DOCTYPE html>
<html lang="en">
<head>
    <!--<base target="/">-->
    <meta charset="UTF-8">
    <title>arc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- TODO: need to add a querystring at the end of css
    or cloudflare will keep stale css file. -->
    <link rel="stylesheet" href="/src/build/style.css">
</head>
<body>
<div id="app-mount">
    <div class="app_container">
        <div class="channel_container flex-column">
            <div class="flex-column flex-spacer">
                <ul>
                    <li><router-link to="/channel/develop">#develop</router-link></li>
                    <li><router-link to="/channel/github_updates">#github_updates</router-link></li>
                    <li><router-link to="/channel/fun">#fun</router-link></li>
                </ul>
            </div>
            <!-- Some good ol' credits -->
            <div class="credits flex-column">
                <span class="title">arc!</span>
                <span class="meta">
                    made with <3 by <a href="https://github.com/lap00zza" target="_blank">@lap00zza</a>
                </span>
            </div>
        </div>
        <router-view></router-view>
    </div>
</div>
</body>
<script src="/src/build/core.bundle.js"></script>
</html>
