<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>arc! dead simple chat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/src/build/landing.css">
</head>
<body>
<div class="flex-column flex-spacer">
    <div class="title-bar">
        <span class="title">arc!</span>&nbsp;<span class="subtitle">dead simple chat</span>
    </div>
    <div class="server-info">
        <div class="name">Log in to <span>Arc Community</span></div>
        <div class="description">The official server for developement of arc</div>
        <form>
            <input type="text" placeholder="email">
            <input type="password" placeholder="password">
            <button type="submit">Log in</button>
            <div class="part">
                <label for="remember_me">Keep me logged in</label>
                <input type="checkbox" id="remember_me" checked>
                <a href="#" id="guest_login">Continue as Guest</a>
            </div>
        </form>
    </div>
    <div class="meta">Did you know you can host your very own arc! server?
        <a href="https://github.com/lap00zza/arc" target="_blank">Find out how.</a>
    </div>
</div>

</body>
</html>